
{% extends "base.html" %}

{% block title %}Create{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
{% endblock %}

{% block content %}
    <div class='container'>

        <h2>Add a new recipe down below!</h2>
        
        <form action='/create' method="POST">
        
            <div class='form-group pb-2'>
                <label for='recipeName'>Recipe Name:</label>
                <input class='form-control input-sm' type='text' name ='recipeName' required>
            </div>

            <div class='form-group pb-2'>
                <label for='desc'>Description:</label>
                <textarea class='form-control input-sm' type='text' name ='desc' required></textarea>
            </div>
                
            <div class='form-group pb-2'>
                <label for='ingredients'>Add ingredients:</label>
                <textarea class='form-control input-sm' name='ingredients' rows='5' required></textarea>
                <span class='form-text'>Add ingredients as "Quantity | Ingredient"</span>
            </div>
                
            <div class='form-group pb-2'>
                <label for='procedures'>Add procedures:</label>
                <textarea class='form-control input-sm' name='procedures' rows='5' required></textarea>
                <span class='form-text'>Start each new procedure on a new line. Don't number them.</span>
            </div>
               
            <div class='form-group pb-2'>
                <label for="tips">Add tips or advice:</label>
                <textarea class='form-control input-sm' name='tips' rows='5'></textarea>
                <span class='form-text'>Start each new tip on a new line. Don't number them.</span>
            </div>

            <div class='form-group pb-2'>
                <label for='tags'>Tag your recipe:</label>
                <input class='form-control input-sm' id='tags' name='tags' placeholder='          '>
                <span class='form-text'>Add tags like Dessert, Italian, Quick etc. Contact support if you want more tag options! Please try to stick to the tags given.</span>
            </div>

            <br>
            <div class="form-group pb-2">
                <label>Select recipe visibility</label><br>
                <span class='form-text'>Setting the recipe type as "public" makes it visible on the community page.</span>
                <br><br>
                <input type="radio" class="btn-check" name="vis" id="public" autocomplete="off" checked>
                <label class="btn btn-outline-secondary" for="public">Public</label>
                <input type="radio" class="btn-check" name="vis" id="private" autocomplete="off">
                <label class="btn btn-outline-secondary" for="private">Private</label>
            </div>
                <br><br>

                <button class='btn btn-dark' type="submit">Submit</button>
        
        </form>
    </div>
    <br><br>
{% endblock %}

{% block extra_scripts %} 
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script>
        const input = document.querySelector('input[name=tags]');

        // Load tag options
        fetch('/static/tags.json')
            .then(response => response.json())
            .then(tagList => {
                //init tagify w loaded tag list
                new Tagify(input, {
                    whitelist: tagList,
                    dropdown: {
                        enabled: 1,
                        maxItems: 10,
                        position: 'auto'
                    },
                    maxtags: 10
                });
            })
            .catch(err => {
                console.error("Failed to load tag list:", err);
            });
    </script>
{% endblock %}
