{% extends "base.html" %}

{% block title %}Delete{% endblock %}

{% block content %}
        <div class='container'>
            <h2>Select the recipe you would like to <u><b>delete</b></u>!</h2>
            <form method="POST" action="/delete">
                {% for name in names %}
                    <p><button class='btn btn-outline-dark' type="radio" name="recipe" value="{{ name }}">{{ name }}</button></p>
                {% endfor %}
                
                
            </form>
        </div>
{% endblock %}