{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}
        <div class='container'>
            <br>
            <h2>Select the recipe you would like to edit!</h2>
            <p>To upload a recipe to the community, change the visibility of the recipe to public.</p>
            <form method="POST" action="/edit">
                {% for name in names %}
                    <p><button class='btn btn-outline-dark' type="radio" name="recipe" value="{{ name }}">{{ name }}</button></p>
                {% endfor %}
                
                
            </form>
        </div>
{% endblock %}