{% extends "base.html" %}

{% block title %}Editing{% endblock %}


{% block extra_styles %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
{% endblock %}

{% block content %}
        <div class='container'>
            <h2>Recipe being edited: {{ recipeName }}</h2>

            <form action='/editPage' method="POST">
                <div class='form-group pb-2'>
                    <label for='recipeName'>Recipe Name:</label><br>
                    <p><input class='form-control input-sm' type='text' name ='recipeName' value="{{ recipeName }}" required></p><br>
                </div>

                <div class='form-group pb-2'>
                    <label for='desc'>Description:</label>
                    <textarea class='form-control input-sm' type='text' name ='desc' required>{{ desc }}</textarea>
                </div>

                <div class='form-group pb-2'>
                    <label for='ingredients'>Ingredients:</label><br>
                    <textarea class='form-control input-sm' name='ingredients' rows='5' required>{{ ingredients }}
                    </textarea>
                    <span class='form-text'>Add ingredients as "Quantity | Ingredient"</span>
                    <br>
                </div>

                <div class='form-group pb-2'>
                    <label for='procedures'>Procedures:</label><br>
                    <textarea class='form-control input-sm' name='procedures' rows='5' required>{{ procedures }}
                    </textarea>
                    <span class='form-text'>Start each new procedure on a new line. Don't number them.</span>
                    <br>
                </div>

                <div class='form-group pb-2'>
                    <label for="tips">Add tips or advice:</label><br>
                    <textarea class='form-control input-sm' name='tips' rows='5'>{{ tips }}</textarea>
                    <span class='form-text'>Start each new tip on a new line. Don't number them.</span>
                    <br>
                </div>

                <div class='form-group pb-2'>
                <label for='tags'>Tag your recipe:</label>
                <input class='form-control input-sm' id='tags' name='tags' value="{{ tags }}"">
                <span class='form-text'>Add tags like Dessert, Italian, Quick etc. Contact support if you want more tag options!</span>
                </div>
                
                <br>
                <div class="form-group pb-2">
                    <label>Select recipe visibility</label><br>
                    <span class='form-text'>Setting the recipe type as "public" makes it visible on the community page.</span>
                    <br><br>
                    {% if vis == 'public' %}
                        <input type="radio" class="btn-check" name="vis" value="public" id="public" autocomplete="off" checked>
                        <label class="btn btn-outline-secondary" for="public">Public</label>
                        <input type="radio" class="btn-check" name="vis" value="private" id="private" autocomplete="off">
                        <label class="btn btn-outline-secondary" for="private">Private</label>
                    {% else %}
                        <input type="radio" class="btn-check" name="vis" value="public" id="public" autocomplete="off">
                        <label class="btn btn-outline-secondary" for="public">Public</label>
                        <input type="radio" class="btn-check" name="vis" value="private" id="private" autocomplete="off" checked>
                        <label class="btn btn-outline-secondary" for="private">Private</label>
                    {% endif %}

                </div>
                    <br><br>

                <button class='btn btn-primary' type="submit">Submit</button>
            </form>
        </div>
        <br><br>
{% endblock %}

{% block extra_scripts %}
        <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
        <script>
            const input = document.querySelector('input[name=tags]');

            // Load tag options
            fetch('/static/tags.json')
                .then(response => response.json())
                .then(tagList => {
                    //init tagify w loaded tag list
                    new Tagify(input, {
                        whitelist: tagList,
                        dropdown: {
                            enabled: 1,
                            maxItems: 10,
                            position: 'auto'
                        },
                        maxtags: 10
                    });
                })
                .catch(err => {
                    console.error("Failed to load tag list:", err);
                });
        </script>
{% endblock %}