{% extends "base.html" %}

{% block title %}Recipe Database{% endblock %}

{% block content %}
        <div class='container'>

            <h2>Welcome to the Recipe Database, {{ username }}! Please select one of the following options</h2>
            <br><br>
            <form action="/", method="POST" class='d-flex'>
                <!--<div class='btn-group-vertical role-group' aria-label='Vertical button group'>-->
                    <button class='btn btn-dark flex-fill mx-1' name="pageName" value="View">View</button>
                    <button class='btn btn-secondary flex-fill mx-1' name="pageName" value="Create">Create</button>
                    <button class='btn btn-dark flex-fill mx-1' name="pageName" value="Edit">Edit</button>
                    <button class='btn btn-secondary flex-fill mx-1' name="pageName" value="Delete">Delete</button>
                
            </form>
        </div>

{% endblock %}