{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
        <div class='container'>
            <h2>Sign Up</h2>
            <br>
            <p>Note: There isn't much security implemented yet, so please do <b><u>not</u></b> use one of your regularly used passwords.</p>
            <br>
            <form action='/signup' method='POST'>
                <div class='form-group'>
                    <label for='username'>Username: </label>
                    <input class='form-control' type='text' name='username' required>
                </div>

                <div class='form-group'>
                    <label for='password'>Password: </label>
                    <div class='input-group'>
                        <input class='form-control' id='password' type='password' name='password' required>
                        <button type='button' class='btn btn-outline-secondary' id='togglePW'>
                            <i class='bi bi-eye'></i>
                        </button>
                    </div>
                
                </div>
                <br>
                <button class='btn btn-primary' type='submit'>Login</button>
            </form>

        
        </div>

{% endblock %}
{% block extra_scripts %}
        <script>
            const passwordField = document.getElementById('password');
            const togglePWButton = document.getElementById('togglePW');

            togglePWButton.addEventListener('click', () => {
                const type = passwordField.type === 'password' ? 'text' : 'password';
                passwordField.type = type;

                const icon = togglePWButton.querySelector('i');
                icon.className = type === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash';

            });
        </script>
{% endblock %}
